.d-custom-none {
  display: none;

  @include breakpoint(tabletSmall) {
    display: block;
  }
}

.text-title {
  font-size: 24px;
  line-height: 28px;

  @include breakpoint(tabletSmall) {
    font-size: 40px;
    line-height: 46px;
  }
}

.text-title-custom {
  font-size: 18px;
  line-height: 22px;

  @include breakpoint(tabletSmall) {
    font-size: 40px;
    line-height: 46px;
  }
}

.text-title-xs {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint(tabletSmall) {
    font-size: 30px;
    line-height: 36px;
  }
}

.text-title-sm {
  font-size: 20px;
  line-height: 24px;

  @include breakpoint(tabletSmall) {
    font-size: 36px;
    line-height: 42px;
  }
}

.text-title-xl {
  font-size: 24px;
  line-height: 28px;
  @include breakpoint(tabletSmall) {
    font-size: 48px;
    line-height: 54px;
  }
}

.text-sh-effect {
  text-shadow: 0 -35px 50px rgb(46, 11, 137);
}

.shadow-top {
  box-shadow: 0 -50px 40px -40px rgba(57, 40, 100, 0.5);
}

.custom-small-title {
  @include breakpoint(tabletSmallMax) {
    font-size: 17px;
  }
}
