@import "tailwindcss";
@import "./mixins.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --font-sans: var(--font-geist-sans);
//   --font-mono: var(--font-geist-mono);
// }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto; /* Centers the content */
  // padding: 0 12px; /* Optional: Adds padding for smaller screens */
  padding-top: 100px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
// .grid-background {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: -2; /* Behind everything */

//   background-image: linear-gradient(
//       rgba(255, 255, 255, 0.1) 1px,
//       transparent 1px
//     ),
//     linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
//   background-size: 50px 50px;
//   background-color: #0a0d1c; /* Dark background */
// }

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Above the grid, but behind the header */
  background-color: rgb(10, 13, 28); /* Same background color */
}

.body-bg {
  background-color: #010409;
}

.max-content-size {
  max-width: 1440px;
}

.html-bg {
  background-color: #1a1a1c;
}

.footer-bg {
  background-color: #080c18;
}

.custom-header {
  position: fixed;
  z-index: 10;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1.5px solid rgba(47, 56, 94, 1);
  border-radius: 16px;
  background: rgba(24, 33, 58, 1);
  width: 90%;
  max-width: 925px;
}

.page-info {
  max-width: 925px;
}

.test-1 {
  width: 300px;
  height: 400px;
  /* Gradient in RGBA */
  background: linear-gradient(
    to right,
    rgba(21, 28, 49, 1) 0%,
    24.285714328289032%,
    rgba(7, 10, 20, 1) 48.571428656578064%,
    74.28571432828903%,
    rgba(40, 36, 209, 1) 100%
  );
}

.btn-gradient {
  background: linear-gradient(rgba(161, 121, 255, 1), rgba(101, 39, 246, 1));
}

.gradient-top {
  position: absolute;
  filter: brightness(0.8);
  opacity: 0.9;
  z-index: -2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250%;
  max-width: 1600px;

  img {
    width: 100%;
    height: 100%;
  }

  @include breakpoint(tabletSmall) {
    width: 100%;
  }
}

.grid-background-2 {
  position: relative; /* Keeps it inside its parent */
  // width: 100%; /* Full width */
  // height: 100vh; /* Full height */

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-color: transparent; /* Keeps it as an overlay */
}

.gradient-bottom {
  position: absolute;
  opacity: 0.9;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(3);
  width: 150%;
  max-width: 1280px;

  img {
    width: 150%;
    height: 150%;
  }

  @include breakpoint(tabletSmall) {
    opacity: 0.9;
    transform: translateX(-50%) scale(1.8);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.main-min-height {
  min-height: 675px;
}

.bottom-image {
  opacity: 0.25;
  img {
    width: 75%;
    max-width: 500px;

    @include breakpoint(tabletSmall) {
      width: 100%;
      max-width: 500px;
    }
  }
}

.d-custom-none {
  display: none;

  @include breakpoint(tabletSmall) {
    display: block;
  }
}

.text-title {
  font-size: 24px;
  line-height: 28px;

  @include breakpoint(tabletSmall) {
    font-size: 40px;
    line-height: 46px;
  }
}

.text-title-custom {
  font-size: 18px;
  line-height: 22px;

  @include breakpoint(tabletSmall) {
    font-size: 40px;
    line-height: 46px;
  }
}

.text-title-xs {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint(tabletSmall) {
    font-size: 30px;
    line-height: 36px;
  }
}

.text-title-sm {
  font-size: 20px;
  line-height: 24px;

  @include breakpoint(tabletSmall) {
    font-size: 36px;
    line-height: 42px;
  }
}

.text-title-lg {
  font-size: 44px;
  line-height: 60px;
}

.text-title-xl {
  font-size: 24px;
  line-height: 28px;
  @include breakpoint(tabletSmall) {
    font-size: 48px;
    line-height: 54px;
  }
}

.status-group {
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #090c15 8.11%, #04070f 100%);
}

.tcntt {
  @include breakpoint(tabletSmall) {
    .tcnt {
      box-shadow: 0px -30px 100px rgba(21, 2, 78, 0.9),
        /* Top */ 0px 20px 100px rgba(21, 2, 75, 0.9); /* Bottom */
    }
  }
}

.tcntt-2 {
  @include breakpoint(tabletSmall) {
    .tcnt {
      box-shadow: -10px 15px 25px rgba(21, 2, 78, 0.75),
        /* Top */ 0px 15px 25px rgba(21, 2, 75, 0.75); /* Bottom */
    }
  }
}

.tcnt {
  width: 120px;
  min-width: 120px;
  height: 120px;
  min-height: 120px;

  @include breakpoint(tabletSmall) {
    width: 140px;
    min-width: 140px;
    height: 140px;
    min-height: 140px;
  }

  img {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;

    @include breakpoint(tabletSmall) {
      width: 140px;
      min-width: 140px;
      height: 140px;
      min-height: 140px;
    }
    // transform: scale(1.1);
  }
}

.sts-gr {
  width: 75px;
  min-width: 75px;
  height: 75px;
  min-height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-c-transparent {
  background-color: #010409;
}

.special-percentage {
  font-size: 70px;
  line-height: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;

  background: linear-gradient(180deg, #f2fcfc 0%, #a8add1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-sh-effect {
  text-shadow: 0 -35px 50px rgb(46, 11, 137);
}

.custom-btn {
  background: rgb(11, 15, 26);
  border: 1.5px solid rgba(47, 56, 94, 1);
  border-radius: 10px;
}

.custom-card-title {
  background-color: #080c18;
  border: 1.5px solid rgba(47, 56, 94, 1);
  border-radius: 10px;
}

.style_1,
.style_2 {
  position: absolute;
  width: 175px;

  @include breakpoint(tabletSmall) {
    width: 325px;
  }
}

.style_1 {
  top: 40px;
  left: 0;
  z-index: 5;
  @include breakpoint(tabletSmall) {
    top: 0;
  }
}

.style_2 {
  bottom: 0;
  right: 0;
  z-index: 4;
  @include breakpoint(tabletSmall) {
    bottom: 0;
  }
}

.frame-clot {
  margin: auto;
  width: 80%;

  @include breakpoint(tabletSmall) {
    width: 90%;
  }
}

.d-sphere-container {
  // TODO redesign after new image
  width: 170px;
  height: 130px;
  position: relative;

  @include breakpoint(tabletSmall) {
    width: 600px;
    height: 550px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -80px;
    background: radial-gradient(
      circle,
      rgba(48, 8, 148, 0.3) 0%,
      /* Darker at the center */ rgba(48, 8, 148, 0.2) 40%,
      /* Soft fading */ rgba(48, 8, 148, 0) 70%
    );
    pointer-events: none; /* Allows clicks through the gradient */
    z-index: 2; /* Ensures it’s above the images */

    @include breakpoint(tabletSmall) {
      inset: -150px;
    }
  }
  // rgb(46, 11, 137)
  .img-1 {
    width: 80%;
    height: 100%;
    @include breakpoint(tabletSmall) {
      width: 80%;
      height: 80%;
    }

    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the image */
    z-index: 0;
  }

  .img-1-custom-about-us {
    width: 60%;
    height: 80%;
    @include breakpoint(tabletSmall) {
      width: 80%;
      height: 80%;
    }
  }

  .img-2 {
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the image */
  }

  .img-3 {
    width: 80%;
    height: 100%;

    @include breakpoint(tabletSmall) {
      width: 100%;
      height: 100%;
    }
    //   position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%); /* Centers the image */
    z-index: 2;
  }

  .text-1,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-1a,
  .text-2a,
  .text-3a,
  .text-4a,
  .text-5a,
  .text-6a {
    position: absolute;
    z-index: 2;

    background-color: #060911;
    border: 1.5px solid rgba(47, 56, 94, 1);
    border-radius: 4px;

    font-size: 8px !important;

    @include breakpoint(tabletSmall) {
      font-size: 16px !important;
      border-radius: 10px;
    }
  }

  .text-2,
  .text-5 {
    opacity: 0.8;
    filter: brightness(0.9);
  }

  .text-1 {
    top: 30px;
    left: -60px;

    @include breakpoint(tabletSmall) {
      top: 150px;
      left: -40px;
    }
  }

  .text-2 {
    top: 60px;
    left: -70px;
    @include breakpoint(tabletSmall) {
      top: 250px;
      left: -100px;
    }
  }

  .text-3 {
    top: 90px;
    left: -60px;
    @include breakpoint(tabletSmall) {
      top: 350px;
      left: -60px;
    }
  }

  .text-4 {
    top: 25px;
    right: -35px;
    @include breakpoint(tabletSmall) {
      top: 120px;
      right: 0;
    }
  }

  .text-5 {
    top: 55px;
    right: -70px;
    @include breakpoint(tabletSmall) {
      top: 220px;
      right: -100px;
    }
  }

  .text-6 {
    top: 80px;
    right: -35px;
    @include breakpoint(tabletSmall) {
      top: 320px;
      right: -20px;
    }
  }

  .text-1a {
    top: 36px;
    left: -70px;
    @include breakpoint(tabletSmall) {
      top: 150px;
      left: -75px;
    }
  }

  .text-2a {
    top: 65px;
    left: -70px;
    @include breakpoint(tabletSmall) {
      top: 270px;
      left: -190px;
    }
  }

  .text-3a {
    top: 95px;
    left: -55px;
    @include breakpoint(tabletSmall) {
      top: 430px;
      left: -80px;
    }
  }

  .text-4a {
    top: 30px;
    right: -60px;
    @include breakpoint(tabletSmall) {
      top: 160px;
      right: -80px;
    }
  }

  .text-5a {
    top: 65px;
    right: -60px;
    @include breakpoint(tabletSmall) {
      top: 280px;
      right: -140px;
    }
  }

  .text-6a {
    top: 105px;
    right: 0px;
    @include breakpoint(tabletSmall) {
      top: 430px;
      right: 40px;
    }
  }
}

.shadow-top {
  box-shadow: 0 -50px 40px -40px rgba(57, 40, 100, 0.5);
}

.d-sphere-container-size {
  width: 300px;
  height: 200px;

  @include breakpoint(tabletSmall) {
    width: 800px;
    height: 700px;
  }
}

.d-sphere-container-size-2 {
  width: 350px;
  height: auto;
}

.custom-card-design {
  background: linear-gradient(
    15deg,
    rgba(12, 17, 30, 1) 0%,
    rgba(12, 17, 30, 1) 50%,
    rgba(24, 33, 58, 1) 75%,
    rgba(30, 40, 70, 1) 100%
  );

  border: 1.5px solid rgba(24, 33, 58, 1);
  border-radius: 10px;
}

.use-case-container {
  img {
    width: 100px;

    @include breakpoint(tabletSmall) {
      width: 250px;
    }
    box-shadow: 0px 20px 75px rgba(21, 2, 75, 0.75);
  }
}

.contact-form-container {
  position: relative;
  z-index: 1;

  textarea {
    min-height: 170px;
    max-height: 170px;
  }

  input,
  select,
  textarea,
  option {
    background-color: rgb(7, 9, 20);
    border: 1.5px solid rgb(34, 41, 58);
    border-radius: 10px;
    padding: 8px;

    @include breakpoint(tabletSmall) {
      padding: 12px;
    }
  }

  button {
    margin-bottom: 10px;
    border: 1.5px solid rgb(34, 41, 58);
    border-radius: 10px;
    padding: 12px;
    // background-color: rgb(100, 49, 218);
  }
}

.card-responsive {
  min-height: 340px;
  max-height: 400px;

  @include breakpoint(tabletSmall) {
    min-height: 540px;
    max-height: 600px;
  }
}

.custom-page-status-card-center {
  @include breakpoint(tabletSmallMax) {
    align-items: center !important;
  }
}

.custom-page-status-card-start {
  @include breakpoint(tabletSmallMax) {
    align-items: flex-start !important;
  }
}

.custom-small-title {
  @include breakpoint(tabletSmallMax) {
    font-size: 17px;
  }
}

.footer-icon {
  width: 28px;
  height: 24px;
  @include breakpoint(tabletSmall) {
    width: 34px;
    height: 30px;
  }
}

.custom-arrange-item {
  align-items: center !important;
}

.custom-arrange-item-responsive {
  @include breakpoint(tabletSmallMax) {
    align-items: center !important;
  }
}
